.boxCarrito{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}
.containerCarrito{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 40px;
}
.itemCarrito{
    display: flex;
    width: 420px;
    height: auto;
    align-items: center;
    gap: 50px;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.imgLeft{
    width: 20%;
}
.imgLeft img{
    width: 100%;
}
.textRight{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 6px
}
.textRight h1{
    font-size: 18px;
    /* width: 300px; */
}
.textRight button{
    border: none;
    color: white;
    background-color: red;
    padding: 10px 15px;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
}
.textRight button:hover{
    transform: scale(1.1)
}
.Cartel{
    font-size: 2em; 
    font-family: 'Poppins', sans-serif;
    color: #054b44;
    font-weight: 600;
    border: 1px solid #054b44;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(46, 97, 25, 0.35) 0px 5px 15px;

}
.total{
    margin-left: 10px;
    font-size: 1.5em;

}
.btnCarrito{
    padding-top: 100px;

    display: flex; 
    gap: 40px;
    margin-bottom: 15px;
}
.btnCarrito button{
    color: white;
    cursor: pointer;
    border: none;
    background-color: #054b44;
    padding: 10px 17px;
    border-radius: 15px;

}